<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JD YouTube</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css" integrity="sha512-KXol4x3sVoO+8ZsWPFI/r5KBVB/ssCGB5tsv2nVOKwLg33wTFP3fmnXa47FdSVIshVTgsYk/1734xSk9aFIa4A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
</head>

<body>
  <div class="container">
    <h1 class="text-center">JD YouTube Downloader</h1>
    <hr>
    <!-- Hero paragraph -->
    <h3>No Ads, No Nothing</h3>
    <p>Download YouTube videos for free. No ads, no popups, no distractions. Just a simple YouTube Dowonloader.</p>
    <form>
      <div class="form-group">
        <input type="text" class="form-control" id="youtubeUrlInput" placeholder="Enter YouTube URL">
        <p class="text-danger text-center m-3 d-none warn-text">Please Enter the Url</p>
      </div>
      <div class="form-group text-center">
        <button type="button" class="btn btn-primary" id="goButton">Go</button>
      </div>
      <div id="info-div" class="text-center d-none">
        <p id="video-name" class="font-italic">Title: <span id="title" class="text-info"></span></p>
        <p id="dura" class="font-italic">Duration: <span id="duration" class="text-info"></span></p>
      </div>

      <div class="ui negative message d-none" id="error-container">
        <i class="close icon"></i>
        <div class="header err-title">
        </div>
        <p class="err-detail ui yellow message"></p>
        </div>
      </div>
      <table class="table table-hover .table-borderless table-light d-none" id="data-table">
      <thead thead-dark>
        <tr>
          <th>Resolution</th>
          <th>File Size</th>
          <th>Subtype</th>
          <th>Download</th>
        </tr>
      </thead>
      <tbody id="videoDataBody">
        <!-- Table body will be dynamically populated using JavaScript -->
      </tbody>
    </table>
    </form>
    <div class="container d-none" id="circle-container">
        <div class="row">
            <div class="col-12 text-center">
                <divid="circle"></div>
            </div>
        </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.js" integrity="sha512-Xo0Jh8MsOn72LGV8kU5LsclG7SUzJsWGhXbWcYs2MAmChkQzwiW/yTQwdJ8w6UA9C6EVG18GHb/TrYpYCjyAQw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="{{ url_for('static', filename='home.js') }}"></script>
</body>

</html>